<!DOCTYPE html>
<html lang="EN">

<head>
  <title>Pasto-Breakfast</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i|Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
  <div class="container">
    <div class="time">
      <h1>Good Moorning</h1>
      <p>Breakfast Time</p>
      <p id="left">Left Time <span>02:20</span></p>
    </div>
    <form action="" method="post">
      <datalist id="browser">
				<option value="K cheese">K cheese</option>
				<option value="White cheese"></option>
				<option value="Bouk"></option>
				<option value="Basterma"></option>
			</datalist>
      <input list="browser" id="list-input" />
      <input type="submit" value="Order" id="submit" />
    </form>
    <div class="ppl-order">
      <p>People like you</p>
      <table>
        <thead>
          <tr>
            <th>Name
              <th>
                <th>Order
                  <th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Ahmed
              <td>
                <td>K Cheese Sandwitch
                  <td>
          </tr>
          <tr>
            <td>Ahmed
              <td>
                <td>K Cheese Sandwitch
                  <td>
          </tr>
          <tr>
            <td>Ahmed
              <td>
                <td>K Cheese Sandwitch
                  <td>
          </tr>
          <tr>
            <td>Ahmed
              <td>
                <td>K Cheese Sandwitch
                  <td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>

</html>
